syntax: glob
.gitignore~

src/*.dSYM
src/*.o

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
auxdir/Makefile
auxdir/Makefile.in
compile
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
src/Makefile
src/Makefile.in
src/button.inc
src/fcompil.inc
src/lenlinea.inc
src/nbuffmax.inc
src/ndatamax.inc
src/ndegmax.inc
src/nfixedmax.inc
src/nknotsmax.inc
src/nsimulmax.inc
src/version.inc
src/xpgp
src/xpgpdir.inc
stamp-h1

